

@import url('https://fonts.googleapis.com/css2?family=Monserrat&display=swap');
body{
    font-family: 'Monserrat', sans-serif;
    overflow-x:hidden ;
}
header{
    background-color: rgb(204, 204, 204);
}
header p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
}
#menu a{
    font-size: 30px;
}
#menu a:hover{
    font-weight: bold;
    font-size: 32px;
    transition: 0.2s;
}
#boton:hover{
    background-color:rgb(0, 0, 0);
    color:rgb(232, 232, 232)
}
.carousel-inner{
    display: block;
    justify-content: center;
    max-height: 600px;
   padding-left: 11%;
   padding-right: 11%;
   padding-bottom: 5%;
   
}
#noticias{
    text-decoration: underline;
}

#noticia img{
    opacity: .65 ;

}

#noticia img:hover{
    cursor:pointer;
    transform:scale(1.60);
    transition: 1.3s;
    opacity: 1;

}

#info{
    text-decoration: underline;

}
#cartas img:hover{
    cursor:pointer;
}

#tituloinfo{
    text-decoration:underline;
}

#cartas img:hover{
    transform:scale(1.10);
    transition: 1.3s;
}
#logos img:hover{
    opacity: 0.6;
    transition:1.2s;
}
#exampleModal4 img:hover{
    transform:scale(1.50);
    transition: 1.3s;
}




@media (max-width:760px){
    #intro{
        width:90% !important;
    }

    

    #fotoinfo{
        height: 700px;
    }
}

@media(max-width:460px){
    #fotoinfo{
        height:300px;
    }
}